<div id="signInSocialContainer">
<div class="container">
    

    <div class="kpx_login">
        <h3 class="kpx_authTitle">Login to Crypto Didi</h3>
        <h6>Sign in with your social account</h6>
        <div class="row kpx_socialButtons">
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fa fa-facebook fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fa fa-twitter fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
              <i class="fa fa-google-plus fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-github" data-toggle="tooltip" data-placement="top" title="GitHub">
              <i class="fa fa-github fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
          
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-soundcloud" data-toggle="tooltip" data-placement="top" title="SoundCloud">
              <i class="fa fa-soundcloud fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>    
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-stumbleupon" data-toggle="tooltip" data-placement="top" title="Stumble Upon">
              <i class="fa fa-stumbleupon fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-tumblr" data-toggle="tooltip" data-placement="top" title="Tumblr">
              <i class="fa fa-tumblr fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div> 
          <div class=" social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
              <i class="fa fa-linkedin fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest">
              <i class="fa fa-pinterest fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
           
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-lastfm" data-toggle="tooltip" data-placement="top" title="Lastfm">
              <i class="fa fa-lastfm fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <div class="social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-yahoo" data-toggle="tooltip" data-placement="top" title="Yahoo">
              <i class="fa fa-yahoo fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
           
          <div class=" social-tab col-lg-3 col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-spotify" data-toggle="tooltip" data-placement="top" title="Spotify">
              <i class="fa fa-spotify fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
    </div><br>
    <div class="kpx_alt"> 
    <h6>Dont have an account?</h6>
   	<h4 ><a [routerLink] = "['../signUpSocial']">Sign up</a> with Crypto Didi</h4>
    </div>
	</div>
    


</div>
</div>